:root {
  --text: rgba(1, 20, 7, 1);
  --background: rgba(239, 255, 245, 1);
  --accent: rgba(78, 177, 250, 1);
  --effects-1: rgba(11, 67, 60, 0.43);
  --buttonsprimary: rgba(118, 244, 155, 1);
  --buttonssecondary: rgba(114, 219, 251, 1);
  --glass-1: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
  --phone-shadow: 24px 24px 24px 0px rgba(0, 0, 0, 0.45);
  --variable-collection-yet: rgba(235, 21, 21, 1);
  --variable-collection-g: rgba(255, 255, 255, 0.35);
  --variable-collection-hrh: rgba(149, 178, 224, 1);
  --variable-collection-hih: rgba(117, 115, 187, 1);
  --variable-collection-text-2: rgba(30, 99, 185, 1);
  --variable-collection-gradient-5: rgba(89, 174, 221, 0.7);
}
