.desktop-info-page {
  background-color: #0e1111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-info-page .div {
  background-color: #0e1111;
  overflow: hidden;
  width: 1920px;
  height: 9488px;
  position: relative;
}

.desktop-info-page .overlap {
  position: absolute;
  width: 2497px;
  height: 2132px;
  top: 8316px;
  left: -291px;
}

.desktop-info-page .footer-elements {
  position: absolute;
  width: 2033px;
  height: 1019px;
  top: 0;
  left: 0;
}

.desktop-info-page .group {
  position: absolute;
  width: 1244px;
  height: 1019px;
  top: 0;
  left: 0;
}

.desktop-info-page .overlap-group {
  position: relative;
  width: 1114px;
  height: 1019px;
  left: 130px;
}

.desktop-info-page .ellipse {
  position: absolute;
  width: 673px;
  height: 673px;
  top: 310px;
  left: 0;
  border-radius: 336.5px;
  border: 1px solid;
  border-color: #000000;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(141.18, 236.94, 169.3, 0.25) 0%,
    rgba(106.77, 229.4, 185.33, 0.25) 28%,
    rgba(100.04, 220.66, 203.48, 0.25) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.25) 77.5%,
    rgba(88, 205, 236, 0.25) 100%
  );
}

.desktop-info-page .circle-point {
  position: absolute;
  width: 725px;
  height: 856px;
  top: 74px;
  left: 161px;
}

.desktop-info-page .iphone {
  position: absolute;
  width: 953px;
  height: 1019px;
  top: 0;
  left: 161px;
  object-fit: cover;
}

.desktop-info-page .original {
  position: absolute;
  width: 770px;
  top: 282px;
  left: 1261px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 50px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .footer {
  position: absolute;
  width: 2452px;
  height: 1441px;
  top: 691px;
  left: 45px;
  background-color: transparent;
}

.desktop-info-page .overlap-2 {
  position: relative;
  width: 2412px;
  height: 1442px;
}

.desktop-info-page .rectangle {
  position: absolute;
  width: 1920px;
  height: 481px;
  top: 0;
  left: 246px;
  background-color: #0e1111;
}

.desktop-info-page .line {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 0;
  left: 246px;
  object-fit: cover;
}

.desktop-info-page .ellipse-2 {
  position: absolute;
  width: 2412px;
  height: 975px;
  top: 466px;
  left: 0;
  border-radius: 1206px/487.5px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.4) 0%,
    rgba(106.77, 229.4, 185.33, 0.4) 28%,
    rgba(100.04, 220.66, 203.48, 0.4) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.4) 77.5%,
    rgba(88, 205, 236, 0.4) 100%
  );
}

.desktop-info-page .img {
  position: absolute;
  width: 1px;
  height: 264px;
  top: 118px;
  left: 1032px;
  object-fit: cover;
}

.desktop-info-page .image {
  position: absolute;
  width: 252px;
  height: 52px;
  top: 100px;
  left: 400px;
  object-fit: cover;
}

.desktop-info-page .text-wrapper {
  position: absolute;
  width: 507px;
  top: 172px;
  left: 426px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .p {
  position: absolute;
  top: 354px;
  left: 426px;
  font-family: "Poppins", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-2 {
  position: absolute;
  top: 124px;
  left: 1095px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-3 {
  position: absolute;
  top: 220px;
  left: 1100px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-4 {
  position: absolute;
  top: 306px;
  left: 1100px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-5 {
  position: absolute;
  top: 348px;
  left: 1100px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-6 {
  position: absolute;
  top: 262px;
  left: 1100px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-7 {
  position: absolute;
  width: 41px;
  top: 178px;
  left: 1100px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .instagram {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 312px;
  left: 481px;
  object-fit: cover;
}

.desktop-info-page .twitter {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 312px;
  left: 536px;
  object-fit: cover;
}

.desktop-info-page .facebook-app-symbol {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 312px;
  left: 426px;
  object-fit: cover;
}

.desktop-info-page .text-wrapper-8 {
  position: absolute;
  top: 124px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-9 {
  position: absolute;
  top: 262px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-10 {
  position: absolute;
  top: 178px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-11 {
  position: absolute;
  top: 348px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-12 {
  position: absolute;
  top: 220px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-13 {
  position: absolute;
  top: 306px;
  left: 1820px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-14 {
  position: absolute;
  top: 124px;
  left: 1419px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-15 {
  position: absolute;
  top: 220px;
  left: 1419px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-16 {
  top: 348px;
  left: 1419px;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-17 {
  position: absolute;
  top: 178px;
  left: 1419px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-18 {
  position: absolute;
  top: 306px;
  left: 1419px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-19 {
  position: absolute;
  top: 262px;
  left: 1419px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .github {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 312px;
  left: 591px;
  object-fit: cover;
}

.desktop-info-page .overlap-3 {
  position: absolute;
  width: 2171px;
  height: 1361px;
  top: 5685px;
  left: -122px;
}

.desktop-info-page .lines {
  position: absolute;
  width: 1593px;
  height: 1163px;
  top: 198px;
  left: 286px;
}

.desktop-info-page .what-sets-us-apart {
  width: 427px;
  top: 935px;
  left: 1390px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .overlap-4 {
  position: relative;
  width: 425px;
  height: 113px;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
}

.desktop-info-page .text-wrapper-20 {
  position: absolute;
  width: 296px;
  top: 40px;
  left: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 45px;
  left: 46px;
}

.desktop-info-page .overlap-wrapper {
  width: 361px;
  top: 935px;
  left: 996px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .overlap-5 {
  position: relative;
  width: 359px;
  height: 113px;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
}

.desktop-info-page .text-wrapper-21 {
  position: absolute;
  width: 258px;
  top: 40px;
  left: 75px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-2 {
  top: 45px;
  left: 40px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .overlap-group-wrapper {
  width: 427px;
  top: 789px;
  left: 1239px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .text-wrapper-22 {
  position: absolute;
  width: 296px;
  top: 39px;
  left: 90px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-3 {
  top: 44px;
  left: 55px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .div-wrapper {
  width: 516px;
  top: 789px;
  left: 690px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .overlap-6 {
  position: relative;
  width: 514px;
  height: 113px;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
}

.desktop-info-page .text-wrapper-23 {
  position: absolute;
  width: 332px;
  top: 39px;
  left: 86px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-4 {
  top: 44px;
  left: 51px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .what-sets-us-apart-2 {
  width: 1196px;
  top: 643px;
  left: 975px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .overlap-7 {
  position: relative;
  width: 1194px;
  height: 113px;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
}

.desktop-info-page .text-wrapper-24 {
  position: absolute;
  width: 332px;
  top: 40px;
  left: 90px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-5 {
  top: 45px;
  left: 55px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .what-sets-us-apart-3 {
  width: 502px;
  top: 643px;
  left: 440px;
  position: absolute;
  height: 113px;
}

.desktop-info-page .overlap-8 {
  position: relative;
  width: 500px;
  height: 113px;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
}

.desktop-info-page .text-wrapper-25 {
  position: absolute;
  width: 141px;
  top: 40px;
  left: 86px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-6 {
  top: 45px;
  left: 51px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .what-sets-us-apart-4 {
  width: 1194px;
  top: 496px;
  left: 975px;
  background-color: #131515b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
  position: absolute;
  height: 113px;
}

.desktop-info-page .text-wrapper-26 {
  position: absolute;
  width: 298px;
  top: 39px;
  left: 90px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .vector {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 46px;
  left: 55px;
}

.desktop-info-page .what-sets-us-apart-5 {
  width: 940px;
  top: 496px;
  left: 0;
  background-color: #0e1111b2;
  border-radius: 60px;
  border: 1px solid;
  border-color: #ffffff33;
  position: absolute;
  height: 113px;
}

.desktop-info-page .text-wrapper-27 {
  position: absolute;
  width: 212px;
  top: 39px;
  left: 255px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .star-password-7 {
  top: 45px;
  left: 220px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.desktop-info-page .what-sets-us-apart-6 {
  position: absolute;
  width: 585px;
  height: 241px;
  top: 0;
  left: 788px;
}

.desktop-info-page .original-2 {
  position: absolute;
  width: 415px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 5px #72dbfb7d;
  background: linear-gradient(
    180deg,
    rgb(118, 244, 155) 0%,
    rgb(144.96, 253.94, 227.78) 48%,
    rgb(24.44, 151.03, 244.37) 96.5%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 80px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-3 {
  position: absolute;
  width: 415px;
  top: 121px;
  left: 166px;
  text-shadow: 0px 4px 5px #72dbfb7d;
  background: linear-gradient(
    180deg,
    rgb(118, 244, 155) 0%,
    rgb(144.96, 253.94, 227.78) 48%,
    rgb(24.44, 151.03, 244.37) 96.5%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 80px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .overlap-9 {
  position: absolute;
  width: 3278px;
  height: 2476px;
  top: -332px;
  left: -685px;
}

.desktop-info-page .background-elements {
  position: absolute;
  width: 3278px;
  height: 2476px;
  top: 0;
  left: 0;
}

.desktop-info-page .ellipse-3 {
  position: absolute;
  width: 786px;
  height: 786px;
  top: 1690px;
  left: 2492px;
  border-radius: 393px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .ellipse-4 {
  position: absolute;
  width: 574px;
  height: 574px;
  top: 0;
  left: 400px;
  border-radius: 287px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .ellipse-5 {
  position: absolute;
  width: 574px;
  height: 574px;
  top: 574px;
  left: 2079px;
  border-radius: 287px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .ellipse-6 {
  position: absolute;
  width: 786px;
  height: 786px;
  top: 1690px;
  left: 0;
  border-radius: 393px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .button-learn-more {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 219px;
  height: 61px;
  top: 972px;
  left: 894px;
  border-radius: 61px;
  border: 1px solid;
  border-color: #76f49b;
}

.desktop-info-page .get-started {
  position: absolute;
  width: 129px;
  top: 14px;
  left: 45px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .nav-info-key-feature {
  position: absolute;
  width: 1487px;
  height: 659px;
  top: 1781px;
  left: 904px;
}

.desktop-info-page .original-4 {
  position: absolute;
  width: 538px;
  height: 88px;
  top: 11px;
  left: 474px;
}

.desktop-info-page .group-2 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 314px;
  left: 0;
}

.desktop-info-page .overlap-group-2 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51.svg);
  background-size: 100% 100%;
}

.desktop-info-page .overlap-10 {
  position: absolute;
  width: 305px;
  height: 69px;
  top: 47px;
  left: 58px;
}

.desktop-info-page .img-2 {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 14px;
  left: 10px;
  object-fit: cover;
}

.desktop-info-page .text-wrapper-28 {
  position: absolute;
  width: 239px;
  top: 0;
  left: 66px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .rectangle-2 {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 5px;
  left: 0;
  background-color: #fbfdfc2b;
  border-radius: 10px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(208.25, 255, 221.98),
      rgba(205.24, 242.29, 253.59, 0) 34%,
      rgba(135.95, 224.6, 251.62, 0) 57.63%,
      rgb(100.04, 220.66, 203.48) 100%
    )
    1;
}

.desktop-info-page .text-wrapper-29 {
  position: absolute;
  width: 310px;
  top: 79px;
  left: 137px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .group-3 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 314px;
  left: 513px;
}

.desktop-info-page .overlap-11 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51-1.svg);
  background-size: 100% 100%;
}

.desktop-info-page .overlap-group-3 {
  position: absolute;
  width: 225px;
  height: 69px;
  top: 47px;
  left: 58px;
}

.desktop-info-page .text-wrapper-30 {
  position: absolute;
  width: 160px;
  top: 0;
  left: 66px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .group-4 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 314px;
  left: 1026px;
}

.desktop-info-page .overlap-12 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51-2.svg);
  background-size: 100% 100%;
}

.desktop-info-page .overlap-group-4 {
  position: absolute;
  width: 299px;
  height: 69px;
  top: 47px;
  left: 58px;
}

.desktop-info-page .text-wrapper-31 {
  position: absolute;
  width: 233px;
  top: 0;
  left: 66px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-32 {
  position: absolute;
  width: 310px;
  top: 79px;
  left: 137px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  text-align: justify;
  letter-spacing: -0.28px;
  line-height: normal;
}

.desktop-info-page .group-5 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 536px;
  left: 0;
}

.desktop-info-page .overlap-13 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51-3.svg);
  background-size: 100% 100%;
}

.desktop-info-page .overlap-group-5 {
  position: absolute;
  width: 313px;
  height: 68px;
  top: 48px;
  left: 58px;
}

.desktop-info-page .rectangle-3 {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 4px;
  left: 0;
  background-color: #fbfdfc2b;
  border-radius: 10px;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(208.25, 255, 221.98),
      rgba(205.24, 242.29, 253.59, 0) 34%,
      rgba(135.95, 224.6, 251.62, 0) 57.63%,
      rgb(100.04, 220.66, 203.48) 100%
    )
    1;
}

.desktop-info-page .text-wrapper-33 {
  position: absolute;
  width: 247px;
  top: 0;
  left: 66px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .colour {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 14px;
  left: 9px;
  object-fit: cover;
}

.desktop-info-page .group-6 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 536px;
  left: 513px;
}

.desktop-info-page .overlap-14 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51-4.svg);
  background-size: 100% 100%;
}

.desktop-info-page .overlap-group-6 {
  position: absolute;
  width: 284px;
  height: 69px;
  top: 47px;
  left: 58px;
}

.desktop-info-page .text-wrapper-34 {
  width: 220px;
  top: 0;
  left: 64px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: absolute;
  font-family: "Poppins", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .idea {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 15px;
  left: 9px;
  object-fit: cover;
}

.desktop-info-page .share-achievements {
  position: absolute;
  width: 335px;
  top: 78px;
  left: 136px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  text-align: justify;
  letter-spacing: -0.28px;
  line-height: normal;
}

.desktop-info-page .group-7 {
  position: absolute;
  width: 461px;
  height: 122px;
  top: 536px;
  left: 1026px;
}

.desktop-info-page .overlap-15 {
  position: relative;
  width: 505px;
  height: 170px;
  top: -20px;
  left: -24px;
  background-image: url(./img/rectangle-51-5.svg);
  background-size: 100% 100%;
}

.desktop-info-page .communicate-wrapper {
  position: absolute;
  width: 66px;
  height: 65px;
  top: 52px;
  left: 58px;
  background-color: #fbfdfc2b;
  border-radius: 10px;
}

.desktop-info-page .communicate {
  position: absolute;
  width: 46px;
  height: 45px;
  top: 10px;
  left: 9px;
  object-fit: cover;
}

.desktop-info-page .text-wrapper-35 {
  position: absolute;
  width: 229px;
  top: 47px;
  left: 125px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-36 {
  position: absolute;
  width: 310px;
  top: 78px;
  left: 138px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-37 {
  position: absolute;
  width: 315px;
  top: 138px;
  left: 584px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffffe6;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .nav-header-info {
  position: absolute;
  width: 1568px;
  height: 1046px;
  top: 560px;
  left: 866px;
}

.desktop-info-page .group-8 {
  position: absolute;
  width: 551px;
  height: 22px;
  top: 1024px;
  left: 25px;
}

.desktop-info-page .group-9 {
  position: absolute;
  width: 83px;
  height: 22px;
  top: 0;
  left: 0;
}

.desktop-info-page .text-wrapper-38 {
  position: absolute;
  top: 0;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6ef795;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .paypal {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop-info-page .text-wrapper-39 {
  position: absolute;
  top: 0;
  left: 180px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6ef795;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .behance {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.desktop-info-page .group-10 {
  position: absolute;
  width: 83px;
  height: 22px;
  top: 0;
  left: 312px;
}

.desktop-info-page .group-11 {
  position: absolute;
  width: 83px;
  height: 22px;
  top: 0;
  left: 468px;
}

.desktop-info-page .group-12 {
  position: absolute;
  width: 1574px;
  height: 177px;
  top: 815px;
  left: 0;
}

.desktop-info-page .overlap-group-7 {
  position: relative;
  width: 1560px;
  height: 177px;
  border-radius: 60px;
  background: linear-gradient(
    180deg,
    rgba(77.56, 205.83, 255, 0.3) 0%,
    rgba(106.25, 238.24, 255, 0.3) 25.41%,
    rgba(122.19, 255, 241.55, 0.3) 47%,
    rgba(132.81, 255, 215.49, 0.3) 67.14%,
    rgba(143.44, 255, 198.81, 0.3) 82.9%,
    rgba(146.62, 255, 178.45, 0.3) 100%
  );
}

.desktop-info-page .original-5 {
  position: absolute;
  width: 360px;
  top: 45px;
  left: 72px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-6 {
  position: absolute;
  width: 146px;
  top: 45px;
  left: 628px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .original-7 {
  position: absolute;
  width: 75px;
  top: 41px;
  left: 958px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .original-8 {
  position: absolute;
  width: 73px;
  top: 41px;
  left: 1262px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .text-wrapper-40 {
  position: absolute;
  top: 105px;
  left: 641px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .text-wrapper-41 {
  position: absolute;
  top: 105px;
  left: 926px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .text-wrapper-42 {
  position: absolute;
  top: 105px;
  left: 1211px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .overlap-16 {
  position: absolute;
  width: 1615px;
  height: 610px;
  top: 0;
  left: 25px;
}

.desktop-info-page .overlap-17 {
  position: absolute;
  width: 1612px;
  height: 593px;
  top: 0;
  left: 3px;
}

.desktop-info-page .text-wrapper-43 {
  position: absolute;
  width: 902px;
  top: 250px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .group-13 {
  position: absolute;
  width: 719px;
  height: 593px;
  top: 0;
  left: 893px;
}

.desktop-info-page .text-wrapper-44 {
  position: absolute;
  top: 501px;
  left: 3px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .group-14 {
  position: absolute;
  width: 750px;
  height: 108px;
  top: 108px;
  left: 0;
}

.desktop-info-page .nurture-your-savings {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(118, 244, 155) 0%,
    rgb(144.96, 253.94, 227.78) 48%,
    rgb(24.44, 151.03, 244.37) 96.5%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 59px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .grow-your-blooms {
  position: absolute;
  top: 66px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(118, 244, 155) 0%,
    rgb(144.96, 253.94, 227.78) 48%,
    rgb(24.44, 151.03, 244.37) 96.5%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 59px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .element-active-user {
  position: absolute;
  top: 552px;
  left: 196px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .overlap-18 {
  position: absolute;
  width: 167px;
  height: 70px;
  top: 540px;
  left: 0;
}

.desktop-info-page .ellipse-7 {
  position: absolute;
  width: 69px;
  height: 68px;
  top: 2px;
  left: 0;
  object-fit: cover;
}

.desktop-info-page .ellipse-8 {
  position: absolute;
  width: 69px;
  height: 68px;
  top: 1px;
  left: 49px;
  object-fit: cover;
}

.desktop-info-page .ellipse-9 {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 0;
  left: 98px;
  object-fit: cover;
}

.desktop-info-page .element-financial-app {
  position: absolute;
  width: 131px;
  top: 77px;
  left: 3px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .span {
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
}

.desktop-info-page .login-signup-button {
  position: absolute;
  width: 187px;
  height: 58px;
  top: 360px;
  left: 2211px;
}

.desktop-info-page .overlap-19 {
  position: relative;
  width: 185px;
  height: 58px;
  border-radius: 60px;
}

.desktop-info-page .text-wrapper-45 {
  position: absolute;
  top: 17px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .rectangle-4 {
  position: absolute;
  width: 185px;
  height: 58px;
  top: 0;
  left: 0;
  border-radius: 60px;
  border: 2px solid;
  border-color: #69d88a;
}

.desktop-info-page .text-wrapper-46 {
  position: absolute;
  top: 376px;
  left: 1546px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-47 {
  position: absolute;
  top: 376px;
  left: 1877px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-48 {
  position: absolute;
  top: 376px;
  left: 1726px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .text-wrapper-49 {
  position: absolute;
  top: 376px;
  left: 1373px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .logo {
  position: absolute;
  width: 65px;
  height: 66px;
  top: 356px;
  left: 910px;
  object-fit: cover;
}

.desktop-info-page .text-wrapper-50 {
  position: absolute;
  top: 376px;
  left: 977px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .nav-info-how-it {
  position: absolute;
  width: 1516px;
  height: 706px;
  top: 2337px;
  left: 211px;
}

.desktop-info-page .group-15 {
  position: absolute;
  width: 450px;
  height: 550px;
  top: 156px;
  left: 0;
}

.desktop-info-page .overlap-20 {
  position: relative;
  width: 446px;
  height: 550px;
  border-radius: 15px;
  box-shadow: var(--glass-1);
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
}

.desktop-info-page .original-9 {
  position: absolute;
  width: 366px;
  top: 313px;
  left: 35px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .group-16 {
  position: absolute;
  width: 73px;
  height: 32px;
  top: 45px;
  left: 35px;
}

.desktop-info-page .overlap-group-8 {
  position: relative;
  width: 71px;
  height: 32px;
  border-radius: 15px;
}

.desktop-info-page .text-wrapper-51 {
  position: absolute;
  width: 40px;
  top: 11px;
  left: 15px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-info-page .deposit-funds-and {
  position: absolute;
  width: 253px;
  top: 214px;
  left: 35px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-2 {
  position: absolute;
  width: 366px;
  height: 2px;
  top: 289px;
  left: 35px;
}

.desktop-info-page .deposit {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 45px;
  left: 281px;
  object-fit: cover;
}

.desktop-info-page .group-17 {
  position: absolute;
  width: 494px;
  height: 598px;
  top: 136px;
  left: 502px;
}

.desktop-info-page .group-18 {
  position: absolute;
  width: 494px;
  height: 598px;
  top: 136px;
  left: 1044px;
}

.desktop-info-page .original-10 {
  position: absolute;
  top: 0;
  left: 624px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .nav-info-faqs {
  position: absolute;
  width: 1159px;
  height: 962px;
  top: 7120px;
  left: 389px;
}

.desktop-info-page .original-11 {
  position: absolute;
  top: 0;
  left: 409px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-12 {
  position: absolute;
  width: 598px;
  top: 212px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-13 {
  position: absolute;
  width: 1032px;
  top: 282px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-14 {
  position: absolute;
  top: 471px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-3 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 434px;
  left: 0;
}

.desktop-info-page .line-4 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 539px;
  left: 0;
}

.desktop-info-page .original-15 {
  position: absolute;
  top: 576px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-5 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 644px;
  left: 0;
}

.desktop-info-page .original-16 {
  position: absolute;
  top: 681px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-6 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 749px;
  left: 0;
}

.desktop-info-page .original-17 {
  position: absolute;
  top: 786px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-7 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 855px;
  left: 0;
}

.desktop-info-page .original-18 {
  position: absolute;
  top: 891px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-8 {
  position: absolute;
  width: 1143px;
  height: 2px;
  top: 960px;
  left: 0;
}

.desktop-info-page .vector-2 {
  top: 224px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .vector-3 {
  top: 484px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .vector-4 {
  top: 588px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .vector-5 {
  top: 694px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .vector-6 {
  top: 798px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .vector-7 {
  top: 904px;
  position: absolute;
  width: 15px;
  height: 9px;
  left: 1116px;
}

.desktop-info-page .nav-info-about-us {
  position: absolute;
  width: 2466px;
  height: 2011px;
  top: 3355px;
  left: -238px;
}

.desktop-info-page .overlap-21 {
  position: absolute;
  width: 1145px;
  height: 600px;
  top: 492px;
  left: 0;
}

.desktop-info-page .ellipse-10 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
  border-radius: 300px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .group-19 {
  position: absolute;
  width: 926px;
  height: 520px;
  top: 40px;
  left: 219px;
}

.desktop-info-page .overlap-group-9 {
  position: relative;
  height: 520px;
  border-radius: 20px;
}

.desktop-info-page .annie-spratt {
  position: absolute;
  width: 907px;
  height: 520px;
  top: 0;
  left: 19px;
}

.desktop-info-page .rectangle-5 {
  position: absolute;
  width: 926px;
  height: 520px;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(14, 17, 17, 0) 0%, rgb(14, 17, 17) 100%);
}

.desktop-info-page .overlap-22 {
  position: absolute;
  width: 1186px;
  height: 600px;
  top: 1411px;
  left: 1272px;
}

.desktop-info-page .ellipse-11 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  left: 586px;
  border-radius: 300px;
  filter: blur(433.8px);
  background: linear-gradient(
    180deg,
    rgba(118, 244, 155, 0.41) 0%,
    rgba(106.77, 229.4, 185.33, 0.41) 28%,
    rgba(100.04, 220.66, 203.48, 0.41) 52.5%,
    rgba(93.05, 211.56, 222.37, 0.41) 77.5%,
    rgba(88, 205, 236, 0.41) 100%
  );
}

.desktop-info-page .group-20 {
  position: absolute;
  width: 903px;
  height: 520px;
  top: 25px;
  left: 0;
}

.desktop-info-page .annie-spratt-2 {
  position: absolute;
  width: 886px;
  height: 520px;
  top: 0;
  left: 0;
}

.desktop-info-page .rectangle-6 {
  position: absolute;
  width: 903px;
  height: 520px;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(14, 17, 17, 0) 0%, rgb(14, 17, 17) 100%);
}

.desktop-info-page .original-19 {
  position: absolute;
  top: 0;
  left: 1111px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-20 {
  position: absolute;
  width: 658px;
  top: 1436px;
  left: 418px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .original-21 {
  position: absolute;
  width: 769px;
  height: 216px;
  top: 535px;
  left: 1209px;
}

.desktop-info-page .group-21 {
  position: absolute;
  width: 322px;
  height: 113px;
  top: 279px;
  left: 418px;
}

.desktop-info-page .original-22 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-9 {
  position: absolute;
  width: 320px;
  height: 1px;
  top: 112px;
  left: 0;
  object-fit: cover;
}

.desktop-info-page .original-23 {
  position: absolute;
  width: 213px;
  top: 1192px;
  left: 1766px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-info-page .line-10 {
  position: absolute;
  width: 320px;
  height: 1px;
  top: 1295px;
  left: 1658px;
  object-fit: cover;
}
